<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :answer %><br>
    <%= f.text_area :answer %>
  </div>
  <div class="field">
    <%= f.label :a %><br>
    <%= f.text_area :a %>
  </div>
  <div class="field">
    <%= f.label :b %><br>
    <%= f.text_area :b %>
  </div>
  <div class="field">
    <%= f.label :c %><br>
    <%= f.text_area :c %>
  </div>
  <div class="field">
    <%= f.label :d %><br>
    <%= f.text_area :d %>
  </div>
  <div class="field">
    <%= f.label :correct_answer %><br>
    <%= f.text_area :correct_answer %>
  </div>
  <div class="field">
    <%= f.label :correct %><br>
    <%= f.text_field :correct %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.text_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :sub_cat_id %><br>
    <%= f.text_field :sub_cat_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
